@import "./variables.less";
@import "./badges.less";
@import "./panels.less";

.motd .default {
	background: #DC3522;
}

.motd {
	background: #DC3522;
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
	border-radius: 4px;
}

.home .icon {
	border-radius: 4px;
}

img {
	max-width: 49px;
}

.plugin-mentions-a:hover {
	color: #2A2C2B;
}

.plugin-mentions-a i.offline{
	color: #2A2C2B!important;
}

.plugin-mentions-a i.online{
	color: white!important;
}