@import "./variables.less";
@import "./badges.less";
@import "./panels.less";

.home .icon {
	border-radius: 4px;
}

img {
	max-width: 49px;
}

.plugin-mentions-a:hover {
	color: #2A2C2B;
}

.plugin-mentions-a i.offline {
	color: #2A2C2B!important;
}

p a {
	color: #DC3522;
}

.admin .categories .admin-categories>ul>li {
	border-bottom: 1px solid #DC3522;
}

.admin .groups>ul>li:nth-child(even) {
background: #1E1E20;
}

.admin .groups>ul>li:nth-child(odd) {
background: #1E1E20;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {
	color:	#DC3522;
}